numpy
dlib
pillow 
fastapi
uvicorn
google-cloud-storage
python-multipart
motor
python-dotenv
pymongo
opencv-python
google-generativeai
fastapi
uvicorn[standard]
websockets
starlette
python-multipart
pyaudio
google-genai
google-api-python-client
google-auth
google-auth-oauthlib
PyMuPDF
google-cloud-storage
google-api-python-client
google-auth-httplib2
